########################################################################
 # Copyright (C) 2020 - 2022 Xilinx, Inc.
 # Copyright (C) 2022 - 2026 Advanced Micro Devices, Inc.
 #
 # Permission is hereby granted, free of charge, to any person obtaining a
 # copy of this software and associated documentation files (the "Software"),
 # to deal in the Software without restriction, including without limitation the
 # rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
 # sell copies of the Software, and to permit persons to whom the Software
 # is furnished to do so, subject to the following conditions:
 # The above copyright notice and this permission notice shall be included in
 # all copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY
 # KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 # MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
 # EVENT SHALL XILINX BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 # WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT
 # OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE. Except as contained in this notice, the name of the Xilinx shall
 # not be used in advertising or otherwise to promote the sale, use or other
 # dealings in this Software without prior written authorization from Xilinx.
########################################################################

[host_machine]
system = 'linux'
cpu_family = 'aarch64'
cpu = 'arm64'
endian = 'little'

[build_machine]
system = 'linux'
cpu_family = 'x86_64'
cpu = 'x86_64'
endian = 'little'

[built-in options]
c_args = ['--sysroot=<SYSROOT>', '-I<SYSROOT>/usr/include', '-I<SYSROOT>/usr/include/xrt']
cpp_args = ['--sysroot=<SYSROOT>', '-I<SYSROOT>/usr/include', '-I<SYSROOT>/usr/include/xrt']
c_link_args = ['--sysroot=<SYSROOT>','-L<SYSROOT>/lib', '-L<SYSROOT>/usr/lib']
cpp_link_args = ['--sysroot=<SYSROOT>','-L<SYSROOT>/lib', '-L<SYSROOT>/usr/lib']

[properties]
pkg_config_libdir = ['<SYSROOT>/usr/lib/pkgconfig:<SYSROOT>/usr/share/pkgconfig']
sys_root = '<SYSROOT>'

[binaries]
c = ['<NATIVESYSROOT>/usr/bin/<SDKTARGET>/<SDKTARGET>-gcc']
cpp = ['<NATIVESYSROOT>/usr/bin/<SDKTARGET>/<SDKTARGET>-g++']
ar = ['<NATIVESYSROOT>/usr/bin/<SDKTARGET>/<SDKTARGET>-ar']
pkg-config = ['<NATIVESYSROOT>/usr/bin/pkg-config']
strip = ['<NATIVESYSROOT>/usr/bin/<SDKTARGET>/<SDKTARGET>-strip']
